/*
    color theme
    strong red :: #771100;
    orange :: #FF9900;
    light orange :: #FF9900;
    grey:: #999999;
    very light grey :: #CCCCCC;
*/

body, html  {
  height:100%;
  background-color: #771100;
}

h1, h2, h3  {
  color:#ff9900;
  text-align: center;
}


p  {
  color: #cccccc;
  text-align: center;
}

table, tr, td  {
  text-align: center;
  align-content: center;
  margin-right: 15
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

.img-1,.img-2  {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-1  {
  background-image: url(images/selfpicture.jpg);
  min-height: 100%;
}

.img-2  {
  background-image: url(images/thought-catalog.jpg);
  min-height: 30%;
}


/*you cna place size restrictions so that your website can adapt to phones and tablets*/
@media only screen and (max-device-width: 1366px)  {
  .parallax {
    background-attachment: scroll;
   }
}

.caption  {
  position:absolute;
  left: 0;
  top: 20%;
  width:100%;
  text-align: center;
}

.caption spam.border  {
  color: #cccccc;
  padding: 18px;
  font-size: 45px;
}

.wrap  {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

/*css classes used in gallery*/
.row  {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: auto;
  margin-right:auto;
}



/*colum is devided into 3 equal pieces for the gallery*/
.column {
  -ms-flex: 32%;
  flex: 32%;
  max-width: 32%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.label{
    background-color: #FF9900;
    color:#cccccc;
    font-size: 16px;
}